<br/>
<div class="row">
    <div class="col-md-12">        

        <div class="col-md-6">
            <h3 class="block">School List</h3>
        </div>
        <form class="tab-pane active form-horizontal" id="first" name="userForm" novalidate ng-submit="search()">
            
            <div class="col-md-4">
                <input type="text" name="search_txt" class="form-control" ng-model="search_txt" placeholder="Search Text"/>
            </div>
            <p ng-show=" submitted && userForm.search_txt.$invalid" class="help-block">Search is required.</p>
        
            <div class="col-md-2">
                <div class="pull-left">                    
                    <button type="submit" class="btn btn-primary" ng-click="submitted=true">Submit</button>
                </div>
            </div>
            
        </form>
        <table class="table table-striped">
            <tr>
                <th>School Name</th>
                <!--<th>Grade Category</th>
                <th>County Name</th>-->
                <th>Address</th>
                <!--<th>Phone</th>
                <th></th>-->
            </tr>
            <tr ng-hide="schools.length" >
                <td colspan="5">No schools found, Please create one.</td>
            </tr>
            <tr ng-show="schools.length" ng-repeat="school in schools">
                <td>{{school.SchoolName}}</td>
                <!--<td>{{school.GradeCtgy}}</td>
                <td>{{school.SchoolCountyName}}</td>-->
                <td>{{school.SchoolLocationAddressLine1}}, {{school.SchoolLocationCity}}, {{school.SchoolLocationZipCode}}</td>
                <!--<td>{{school.SchoolPhone}}</td>
                <td>
                    <a href="#/schools/{{school.id}}/edit">Edit</a> | <a href="" ng-click="deleteUser(school.id)">Remove</a>
                </td>-->
            </tr>
            <!--<pagination ng-model="currentPage" total-items="schools.length" max-size="maxSize" boundary-links="true"></pagination>-->
        </table>

    </div>
</div>
