<div class="form-group" ng-class="{'has-error' : submitted && userForm.first_name.$invalid}">
    <label class="control-label col-md-3">First name <span class="required">* </span> </label>
    <div class="col-md-4">
        <input type="text" name="first_name" class="form-control" ng-model="user.first_name" required placeholder="first name"/>
    </div>
    <p ng-show=" submitted && userForm.first_name.$invalid" class="help-block">First name is required.</p>
</div>
<div class="form-group" ng-class="{'has-error' : submitted && userForm.last_name.$invalid}">
    <label class="control-label col-md-3">Last name <span class="required">* </span> </label>
    <div class="col-md-4">
        <input type="text" name="last_name" class="form-control" ng-model="user.last_name" required placeholder="last name"/>
    </div>
    <p ng-show=" submitted && userForm.last_name.$invalid" class="help-block">Last name is required.</p>
</div>
<div class="form-group" ng-class="{'has-error' : submitted && userForm.email.$invalid}">
    <label class="control-label col-md-3">Email <span class="required">* </span> </label>
    <div class="col-md-4">
        <input type="email" name="email" class="form-control" ng-model="user.email" required placeholder="test@example.com"/>
    </div>
    <p ng-show="submitted && userForm.email.$error.required" class="help-block">Email is required.</p>
    <p ng-show="submitted && userForm.email.$error.email" class="help-block">Enter valid email</p>
</div>
<div class="form-group">
    <label class="control-label col-md-3">Phone </label>
    <div class="col-md-4">
        <input type="text" name="phone" class="form-control" ng-model="user.phone" placeholder="9876543210"/>
    </div>
    <p ng-show="submitted && userForm.phone.$invalid" class="help-block">Phone is required.</p>
</div>

<div class="form-group">
    <div class="pull-left">
        <a class="btn btn-default" href="/"> Back</a>
        <button type="submit" class="btn btn-primary" ng-click="submitted=true">Submit</button>
    </div>
</div>

